
.box-shadow {
    background-color: white;
    box-shadow: 1px 3px 5px 4px rgba(0,0,0, .1);
}

.grid_wrapper {
    height: 800px;
    display: grid;
    grid-template-columns: 240px 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;

    .profile__friends {
        grid-column: 1;
        grid-row: 2;
    }

}

.second__column__wrap {
    text-align: center;
    .profile__avatar {
        display: flex;
        justify-content: center;
        align-items: center;
        grid-column: 1;
        grid-row: 1;
        position: relative;
        min-height: 300px;

        img {

        }
        //.img {
        //    background-image: url('./img/ava.jpg');
        //    background-size: 200px;
        //    background-repeat: no-repeat;
        //    background-position: center center;
        //    position: absolute;
        //    left: 0;
        //    right: 0;
        //    top: 0;
        //    bottom: 0;
        //    margin: auto;
        //}
    }

    
}

.content__column_wrap {
    grid-column: 2;
    grid-row: 1;
}


.wall__wrapper {
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: 90% max-content();
    gap: 15px;

    .wall__textarea {
        display: flex;

        textarea {
            width: 100%;
            border: 0;
            overflow: auto;
            outline: none;
            resize: none;
            text-decoration: none;
        }

        .wall__post__button {
            padding: 8px;
            align-self: center;
            margin-left: 20px;
            border: 0;
            text-align: center;
        }
    }

    .wall__content {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row: 2;
    }
}

.wall__content__wrapper {

    .wall__content__post {
        padding: 10px;
    }
}